:root {
    --text-color: #000;
    --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #fff;
        --background-color: #000;
    }
}

body {
    font-family: 'PT Serif', serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    text-align: center;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container {
    margin: auto;
    min-width: 350px;
    max-width: 800px;
}

h1,
p,
ul {
    margin: 12px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    opacity: 0.8;
}

a:hover,
a:focus {
    opacity: 1;
}

.avatar {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    transform: translateY(-4px);
    margin-right: 4px;
}

.sites {
    display: flex;
    justify-content: center;
}

.sites > ul {
    width: 300px;
    margin: 0;
}

.links {
    width: 75%;
    margin: 0 auto;
}

.links li {
    display: inline;
    margin: 0 6px;
}

.links .separator {
    margin: 0;
}

.links .separator::before {
    content: '-';
}

.icon-link {
    display: inline-flex;
    align-items: center;
    padding: 0 4px;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.icon > path {
    fill: currentColor;
}

@media (min-width: 768px) {
    body {
        font-size: 20px;
    }
}
