body {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #06beb6;
    background-image: linear-gradient(to right, #06beb6, #48b1bf);
    color: #fff;
    text-align: center;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.container {
    margin: auto;
    min-width: 350px;
    max-width: 500px;
}

h1, p, ul {
    margin: 12px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.3s;
}

a:hover, a:focus {
    opacity: 1;
}

.sites {
    display: table;
}
.sites > ul {
    display: table-cell;
    width: 250px;
}

.social li {
    display: inline;
    margin: 0 4px;
}

@media (min-width: 768px) {
    body {
        font-size: 24px;
    }
}
