body {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    color: #fff;
    text-align: center;
}

.main {
    display: table;
    width: 100%;
    height: 100%;

    background: #B24592;
    background: -webkit-linear-gradient(to right, #F15F79, #B24592);
    background: linear-gradient(to right, #F15F79, #B24592);
    background-size: 400% 400%;

    -webkit-animation: background 8s ease infinite;
    -moz-animation: background 8s ease infinite;
    animation: background 8s ease infinite;
}

@-webkit-keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.container {
    margin: auto;
    min-width: 350px;
    max-width: 500px;
}

h1, p, ul {
    margin: 16px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.8;
    transition: ease-in-out opacity 0.2s;
}

a:hover, a:focus {
    opacity: 1;
}

.sites {
    display: table;
}
.sites > ul {
    display: table-cell;
    width: 250px;
}

.links li {
    display: inline;
    margin: 0 4px;
}

.icon-link {
    display: inline-flex;
    align-items: center;
    padding: 0 4px;
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.icon > path {
    fill: currentColor;
}

@media (min-width: 768px) {
    body {
        font-size: 24px;
    }
}
