/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html,
body,
.app,
.slides-container {
    height: 100%;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

h1, h2, h3, h4, p {
    margin: 1rem 0;
}

ul {
    list-style: none;
    padding: 0;
}

.icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
}

.slides-container {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #111;
    background-color: #59a5d8;
    transition: background-color ease-in-out 0.2s;
}

.is-retro {
    color: #000;
}

.is-dark {
    color: #fff;
}

.is-contact {
    background-color: #066;
}

.is-contact .slides {
    transform: scale(50%) translateY(-50%);
}

.slides {
    position: relative;
    width: 85vw;
    height: 80vh;
    border-radius: 1rem;
    overflow: hidden;
    transition: transform ease-in-out 0.2s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.slides-scroll {
    height: 100%;
    overflow: hidden auto;

    scrollbar-width: none;

    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100%);
}

.slide {
    position: relative;
    height: 100%;


    scroll-snap-align: start;
}

.slide-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide-half {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}

.expand-button {
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    z-index: 1;
}

.expand-button h3,
.expand-button p {
    margin: .5rem 0;
}

.header {
    position: absolute;
    top: 2rem;
    left: 2rem;
    margin: 0;
    line-height: 1;
    font-size: 2rem;
}

.language {
    position: absolute;
    top: 2rem;
    right: 2rem;
    margin: 0;
    line-height: 1;
}

/* ##### Animations ##### */

/* Fade in */
@keyframes fade-in-top {
    0% {
        opacity: 0;
        transform: translateY(-25%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.fade-in-top {
    animation: fade-in-top ease-in-out .5s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(-25%);
}

@keyframes fade-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(25%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.fade-in-bottom {
    animation: fade-in-bottom ease-in-out .5s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(25%);
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-25%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.fade-in-left {
    animation: fade-in-left ease-in-out .5s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateX(-25%);
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(25%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.fade-in-right {
    animation: fade-in-right ease-in-out .5s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateX(25%);
}

/* Wiggle */
@keyframes wiggle {

    0%,
    100% {
        transform: translateX(-5%);
    }

    50% {
        transform: translateX(5%);
    }
}

.wiggle {
    animation: wiggle ease-in-out 8s infinite;
}

@keyframes wiggle-y {

    0%,
    100% {
        transform: translateY(8%);
    }

    50% {
        transform: translateY(-8%);
    }
}

.wiggle-y {
    animation: wiggle-y ease-in-out 3s infinite;
}

@keyframes wiggle-blocky {

    0%, 10% {
        transform: translateX(-20%);
    }

    10.0001%, 20% {
        transform: translateX(-15%);
    }

    20.0001%, 30% {
        transform: translateX(-10%);
    }

    30.0001%, 40% {
        transform: translateX(-5%);
    }

    40.0001%, 50% {
        transform: translateX(0%);
    }

    50.0001%, 60% {
        transform: translateX(5%);
    }

    60.0001%, 70% {
        transform: translateX(10%);
    }

    70.0001%, 80% {
        transform: translateX(15%);
    }

    80.0001%, 90% {
        transform: translateX(20%);
    }

    90.0001%, 100% {
        transform: translateX(25%);
    }
}

.wiggle-blocky {
    animation: wiggle-blocky ease-in-out 4s infinite;
}

/* Bubble */
@keyframes bubble {

    0%,
    100% {
        transform: scale(100%);
    }

    30% {
        transform: scale(300%);
    }
    40% {
        transform: scale(200%);
    }
    60% {
        transform: scale(1000%);
    }
    70% {
        transform: scale(50%);
    }
}

.bubble {
    animation: bubble ease-in-out 4s infinite;
    transform-origin: center;
}
